<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-8 col-lg-6">
      <!-- Section Heading-->
      <div class="section_heading text-center wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
        <h3>Our Creative <span> Team</span></h3>
        <p>Appland is completely creative, lightweight, clean &amp; super responsive app landing page.</p>
        <div class="line"></div>
      </div>
    </div>
  </div>
  <div class="row">
    <!-- Single Advisor-->
    <div class="col-12 col-sm-6 col-lg-3">
      <div class="single_advisor_profile wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
        <!-- Team Thumb-->
        <div class="advisor_thumb"><img width="120%" src="https://st.kp.yandex.net/images/kadr/sm_3647326.jpg" alt="">
          <!-- Social Info-->
          <div class="social-info"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-linkedin"></i></a></div>
        </div>
        <!-- Team Details-->
        <div class="single_advisor_details_info">
          <h6>Sarah Smit</h6>
          <p class="designation">Founder &amp; CEO</p>
        </div>
      </div>
    </div>
    <!-- Single Advisor-->
    <div class="col-12 col-sm-6 col-lg-3">
      <div class="single_advisor_profile wow fadeInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
        <!-- Team Thumb-->
        <div class="advisor_thumb"><img width="125%" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRrwGZQXx2-xtaKc0spvQL-76IRI2LZdd0Ow4IrJhjagjk-Otn87O-Vpo4h8ii2oLbxfU4&usqp=CAU" alt="">
          <!-- Social Info-->
          <div class="social-info"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-linkedin"></i></a></div>
        </div>
        <!-- Team Details-->
        <div class="single_advisor_details_info">
          <h6>Darul Jason</h6>
          <p class="designation">UI Designer</p>
        </div>
      </div>
    </div>
    <!-- Single Advisor-->
    <div class="col-12 col-sm-6 col-lg-3">
      <div class="single_advisor_profile wow fadeInUp" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
        <!-- Team Thumb-->
        <div class="advisor_thumb" style="min-height: 350px"><img src="https://preview.redd.it/h3rndwzg7qb31.jpg?width=640&crop=smart&auto=webp&s=d419b4238d16d016edc71335aefec5b995bf1454" alt="">
          <!-- Social Info-->
          <div class="social-info"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-linkedin"></i></a></div>
        </div>
        <!-- Team Details-->
        <div class="single_advisor_details_info">
          <h6>Jonny Dee</h6>
          <p class="designation">Developer</p>
        </div>
      </div>
    </div>
    <!-- Single Advisor-->
    <div class="col-12 col-sm-6 col-lg-3">
      <div class="single_advisor_profile wow fadeInUp" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
        <!-- Team Thumb-->
        <div class="advisor_thumb"><img width="120%" src="https://pbs.twimg.com/profile_images/951549678578880513/QoLuhExG_400x400.jpg" alt="">
          <!-- Social Info-->
          <div class="social-info"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-linkedin"></i></a></div>
        </div>
        <!-- Team Details-->
        <div class="single_advisor_details_info">
          <h6>Lee Ju</h6>
          <p class="designation">Marketing Manager</p>
        </div>
      </div>
    </div>
  </div>
</div>
